{% load static %}
{#{% load staticfiles %}#}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>SB Admin 2 - Dashboard</title>


  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body id="page-top">
    <!-- Content Wrapper -->
      <div id="graph">
          <!-- Page Heading -->
          {% block content %}
            {% load plotly_dash %}
{#            {%plotly_app name="XpPlot"%}#}
              {{ plot1 | safe }}
          {% endblock %}
      </div>
      <!-- graph end -->
</body>

</html>
